body {
    background-color: #bec6be;
}
.satauri {
    text-align: center;
    align-content: center;
    align-items: center;
}
.teqsti {
    text-align: center;
    align-content: center;
    align-items: center;
}